html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

p{
    margin:0;
}

.container{
    position: relative;
    display:grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    height: 95%;
}

.women, .men{
    position: relative;
    text-align: center;
}

.m_top, .m_bottom, .w_top, .w_bottom {
    position: absolute;
    left:0;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding:0;
}

.w_txt, .m_txt{
    position: absolute;
    top:50%;
    left:50%;
    letter-spacing: 0.6em;
    font-weight: bold;
    font-size: 3vw;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: black;
    font-style: normal;
    font-variant: small-caps;
    font-family: Georgia, serif;
    align-items: center;
}

.w_txt:hover, .m_txt:hover{
    font-size: 3.2vw;
}

.footer{
    position: relative;
    padding:0;
    margin:0;
    background-color: #000000;
    color:#f3d4d4;
    height: 5%;
    display:grid;
    grid-template-columns: 50% 50%;
}

.footer > div{
    position: relative;
    padding: 0.5em 0 ;
    
}

.footer > div > a{
    font-style: normal;
    font-family: Georgia, serif;
    text-decoration: none;
    color:white;
    align-items: center;
}

.left{
    text-align:right;
}

.about{
    padding: 0 0.5em ;
    border-right: 0.02em solid white;
    align-content: right;
    align-content: right;
}

.contact{
    padding: 0 0.5em ;
}


