body{
    margin: 0;
    padding: 0;
}

p{
    margin:0;
}

.container{
    display:grid;
    grid-template-columns: 50% 50%;
    height: 400px;
    margin: 0;
    padding: 0;
}

.container > div{
    border: solid 1px;
}

.footer{
    border: solid 1px;
    padding:0;
    margin:0;
}