body{
    margin: 0;
    padding: 0;
}

p{
    margin:0;
}

.header{
    border: solid 1px;
}

.container{
    border: solid 1px;
    padding: 2em;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.container > div{ 
    border: solid 1px;
    margin: 1em;
}

.footer{
    border: solid 1px; 
}