/*ADDRESSES CONTAINER___________________________________________________*/

.main_address{
    display:none;
}

.main_address > p{
    font-size: 1.1em;
    padding-bottom: 0.5em;
}

/* --> Address main ____________________________________________________*/

.address_main{
    margin: 1em 0;
    border: solid 0.02em #b3b3b3;
}

.address_main_header{
    background-image: url(../../images/user/address-dark.svg);
    background-position: 1.5em 1em;
    background-repeat: no-repeat;
    background-size: 1.3em;
    font-weight: bold;
    font-size: 0.8vw;
    border-bottom: solid 0.02em #b3b3b3;
    padding: 1em 0 1em 3.5em;
    position: relative;
    background-color: #96c6ea;
}

.address_main_body{
    padding: 1em 3 0.8em 1.5em;
    display: grid;
    grid-template-columns: 25% 75%; 
}

.address_main_prop{
    color: #8c8c8c;
    padding: 1em 10em 1em 0;
    font-size: 0.8vw;
    margin-left: 2em;
}

.address_main_prop > p, .address_main_data > p{
    padding: 0.5em 0;
}

.address_main_data{
    padding: 1em 0 1em 1.5em;
    font-size: 0.8vw;
}

.edit_address_data{
    background-image: url(../../images/user/pen.svg);
    background-position: 0.5em 0.6em;
    background-repeat: no-repeat;
    background-size: 1em;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 96.5%;
    transform: translate(-50%,-50%);
    padding: 0.5em;
    padding-left:2em;
    border: solid 0.05em #000000;
    border-radius: 5%;
}

.address_main_edit{
    border: solid 0.02em #b3b3b3;
    margin: 1em 0;
    position: relative;
    clear: both;
    overflow: hidden;
    display: none;
}

.address_edit_form{
    margin: 1em 3em;
    border-bottom: solid 0.02em #b3b3b3;;
}

#addr_country_field{
    font-size: 0.9vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#addr_name{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 0.9vw;
    font-weight: bold;
}

#addr_first_field, #addr_street_field, #addr_code_field{
    margin-right: 1em;
}

#addr_country, #addr_first, #addr_last, #addr_street, #addr_city, #addr_code, #addr_number{
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0%;
    background-position: 1em 1em;
    background-image: url(../../images/user/address.svg);
}

#addr_other1{
    display: grid;
    grid-template-columns: 60% 40%;
    font-size: 0.9vw;
    font-weight: bold;
}

#addr_other2{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 0.9vw;
    font-weight: bold;
}

.edit_address_footer{
    float: right;
    display: flex;
    margin: 0 3em 1em 0;
}