/*ADMIN PRODUCTS CONTAINER___________________________________________________*/

.main_products{    
    display:none;
    width: 100%;
    margin: auto;
}

.main_products > p{
    font-size: 1.1em;
    padding-bottom: 0.5em;
}

/* --> Admin products main_____________________________________________________*/

#admin_nr_products{
    display: grid;
    grid-template-columns: 15% 85%;
    font-size: 0.8vw;
    font-weight: bold;
    padding: 1em 0;
}

.admin_products{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* grid-template-rows: 40%; */
}

.adm_prod{
    border: solid 0.02em #b3b3b3;
    margin: 0.5em 1em 0.5em 0;
}

.adm_prod_header{
    margin:0.5em;
    padding-bottom: 0.6em;
    font-weight: bold;
    border-bottom: solid 0.02em #000000;
}

.adm_prod_main{
    display: grid;
    grid-template-columns: 40% 25% 35%;
    margin: 0.5em; 
    margin-bottom: 0;   
    padding-bottom: 0.5em;
    border-bottom: dashed 1px #000000;
}

.adm_prod_img{
    margin-right: 1.5em;
}

.adm_prod_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.adm_prod_txt{
    color: #cfcbcb;
    font-weight: bold;
    font-size: 0.8vw;
    padding-right:  0.5em;
}

.adm_prod_txt >p, .adm_prod_data >div{
    padding-bottom: 1em;
}

.adm_prod_data{
    font-size: 0.8vw;
    padding-right:  0.5em;
}

.adm_prod_colors{
    display: flex;
}

.prod_color{
    height: 1em;
    width: 1em;
    border: solid 1px #000000;
    border-radius: 50%;
    margin-right: 0.5em;
}

.adm_prod_sizes{
    display: flex;
}

.adm_prod_sizes > p{
    padding:0.2em 1em 0 0;
}

.adm_prod_footer{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
}

.adm_prod_delete{
    margin-right: 1.5em;
    padding: 0.5em 2em;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8vw;
}

.adm_prod_delete:hover{
    background-color: #b3b3b3;
}

.adm_prod_edit{
    padding: 0.5em 2em;
    background-color: rgb(88, 141, 221);
    font-size: 0.8vw;
    font-weight: bold;
    color:#ffffff;
    /* display: none; */
}

.adm_prod_done{
    display: none;
}

.adm_prod_done > input[type="submit"]{
    cursor: pointer;
    padding: 0.5em 2em;
    background-color: rgb(88, 141, 221);
    margin: 0;
    border-radius: 0;
    font-size: 0.8vw;
    font-weight: bold;
    
}

.adm_prod_edit:hover, .adm_prod_done:hover{
    background-color: #397bdd;
}

/*--> Admin edit body__________________________________________________________*/

.adm_prod_edit_body{
    display: none;
}

.admin_prod_form{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 40% 10% 10% 20% 20%; */
    
}

.adm_prod_form_header{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.5em;
}

.adm_prod_new_img{
    width: 100%;
    /* height: 100%; */
    height: 8em;
    object-fit: cover;
}

.image_selector{
    color: transparent;    
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    /* padding: 1em 5em 0 5em; */
    margin-left: 0.5em;
}

.image_selector::-webkit-file-upload-button {
    visibility: hidden;
}

.image_selector::before {
    content: 'Select image';
    color: #ffffff;
    display: inline-block;
    background-color: #b3b3b3;
    border: 0.1em solid #8c8c8c;
    padding: 0.5em 2em;
    /* -webkit-user-select: none; */
    cursor: pointer;
    font-weight: bold;
    font-size: 0.7vw;
    margin: auto;
}

.image_selector:hover::before {
    background-color: black;
}

.adm_prod_form_side{
    display: flex;
    flex-direction: column;
}

.adm_set_name>input[type="text"]{
    border-radius: 0;
    background-image: none;
    text-align: center;
    width: 95%;
    padding:0.5em;
    margin: 0.5em;
    margin-top: 1em;
}

.adm_set_price>input[type="number"]{
    background-image: none;
    text-align: center;
    width: 95%;
    padding:0.5em;
    padding-left: 1em;
    margin: 0.5em;
    margin-bottom: 0;
    color:#000000;
}

.adm_prod_set_colors{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.5em;
}

.adm_prod_current_colors{
    display: inline-flex;
    padding-top: 0.5em;  
    margin-left: auto;  
    margin-right: auto; 
}

.adm_prod_add_color > input[type="text"]{
    width: 95%;
    padding:0.5em;
    margin: 0 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-image: none;
    text-align: center;
}

.adm_prod_set_sColor{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.5em;
}

.add_prod_add_string > input[type="text"]{
    width: 95%;
    padding:0.5em;
    margin: 0 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-image: none;
    text-align: center;
}

.adm_prod_set_sizes{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.5em;
}

.adm_prod_current_sizes{
    display: inline-flex;
    padding-top: 0.5em;  
    margin-left: auto;  
    margin-right: auto;
}

.adm_prod_current_sizes > p{
    padding: 0 0.2em;
    background-repeat: no-repeat;
    background-position: top;
}

.adm_prod_add_size>input[type="text"]{
    width: 95%;
    padding:0.5em;
    margin: 0 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-image: none;
    text-align: center;
}

#no_adm_prod_txt{
    padding: 0.5em 0;
    /* display:none; */
}

.hex_string{
    font-size: 0.8vw;
    font-weight: bold;
    color: red;
    text-align: center;
    display: none;
}

.adm_prod_data_id{
    width: 6.9em;
    overflow: hidden;
}