/*ADMIN ORDERS CONTAINER___________________________________________________*/

.main_orders{    
    display:none;
    width: 95%;
    margin: auto;
}

.main_orders > p{
    font-size: 1.1em;
    padding-bottom: 0.5em;
}

/* --> Admin orders main_________________________________________________*/

.admin_no_orders_txt{
    padding: 0.5em 0;
}

.admin_orders_header{
    display: grid;
    grid-template-columns: 15% 10% 10% 54% 11%;
    margin-top: 1em;
    font-weight: bold;
    font-size: 0.9vw;
}

.admin_orders_header >p{
    margin-right: 1em;
    border-bottom: solid 0.05em #000000;
    padding-bottom: 0.5em;
}

.adm_order{
    display: grid;
    grid-template-columns: 15% 10% 10% 54% 11%;
    margin-top: 1em;
    font-size: 0.9vw;
    padding-bottom: 1em;
    border-bottom: solid 0.02em #b3b3b3;
}

.adm_order > div{
    margin-right: 1em;
    overflow: hidden;
}

.adm_order_prod{
    display: grid;
    grid-template-columns: 30% 10% 30% 10% 20%;
}

.adm_order_prod > p{
    padding-bottom: 1em;
}

.ord_right{
    text-align: center;
}