/*ADMIN USERS CONTAINER___________________________________________________*/

.main_users{    
    display:none;
    width: 95%;
    margin: auto;
}

.main_users > p{
    font-size: 1.1em;
    padding-bottom: 0.5em;
}

/* --> Admin users main_____________________________________________________*/

.users_main{
    margin: 1em 0;
    border: solid 0.02em #b3b3b3;
}

.users_main_header{
    background-image: url(../../images/user/avatar-dark.svg);
    background-position: 1.5em 1em;
    background-repeat: no-repeat;
    background-size: 1.3em;
    font-weight: bold;
    font-size: 0.8vw;
    border-bottom: solid 0.02em #b3b3b3;
    padding: 0.5em 0 0.5em 3.5em;
    position: relative;
    background-color: #96c6ea;
    display: flex;
}

#users_title{
    margin-top: auto;
    margin-bottom: auto;
}

.users_main_body{
    padding: 0.5em 1.5em 0.3em 1.5em;        
}

.users_main_details{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0.5em 0;
    font-size: 0.8vw;
}

.users_main_prop{
    color: #8c8c8c;
}

.users_main_prop > p, .users_main_data >p{
    padding: 0.5em 0;
}

.admin_pass{
    display: none;
}

.admin_users_order_list{
    border-top: solid 0.02em #b3b3b3;
    display: none;
}

.orders_list_header{
    display:grid;
    grid-template-columns: 25% 75%;
    padding: 1em 0;
    font-size: 0.8vw;
}

.orders_list_txt{
    color: #8c8c8c;
}

.orders_list_txt > p, .orders_list_main >p{
    padding-bottom: 0.5em;
}

.orders_list{
    border-top: solid 0.02em #b3b3b3;
    padding-top:1em;
}

.orders_list_data_header{
    display: grid;
    grid-template-columns: 15% 20% 54% 11%;
}

.orders_list_data_header > p{
    margin-right: 1em;
    font-size: 0.8vw;
    font-weight: bold;
    padding-bottom: 0.5em;    
    border-bottom: solid 0.02em #000000;
}

.old{
    display: grid;
    grid-template-columns: 15% 20% 54% 11%;
    margin: 1em 0;
}

.admin_users_fav_list{
    border-top: solid 0.02em #b3b3b3;
    border-bottom: solid 0.02em #b3b3b3;
    margin-bottom: 1em;
    display: none;
}

.fav_list_header{
    display:grid;
    grid-template-columns: 25% 75%;
    padding: 1em 0;
    font-size: 0.8vw;
}

.fav_list_txt{
    color: #8c8c8c;
}

.fav_list_txt > p, .fav_list_main >p{
    padding-bottom: 0.5em;
}

.fav_list{
    border-top: solid 0.02em #b3b3b3;
    padding-top:1em;
}

.fav_list_data_header{
    display: grid;
    grid-template-columns: 54% 20% 15% 11%;
}

.fav_list_data_header > p{
    margin-right: 1em;
    font-size: 0.8vw;
    font-weight: bold;
    padding-bottom: 0.5em;    
    border-bottom: solid 0.02em #000000;
}

.fld{
    display: grid;
    grid-template-columns: 54% 20% 15% 11%;
    margin: 1em 0;
}

/*--> Users edit btns*/

.users_edit_btns{
    display: flex;
    margin-left: auto;
    margin-right: 1em;
    font-weight: normal;
}

.hide_users_pass{
    background-image: url(../../images/user/view.svg);
    background-position: 0.5em 0.6em;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: 0.5em;
    padding-left: 2em;
    border: solid 0.05em #000000;
    border-radius: 5%;
    display: none;    
}

.show_users_pass{
    background-image: url(../../images/user/view.svg);
    background-position: 0.5em 0.6em;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: 0.5em;
    padding-left: 2em;
    border: solid 0.05em #000000;
    border-radius: 5%;
    margin-left: 0.5em;
}

.edit_admin_users{
    background-image: url(../../images/user/pen.svg);
    background-position: 0.5em 0.6em;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: 0.5em;
    padding-left: 2em;
    border: solid 0.05em #000000;
    border-radius: 5%;
    margin-left: 0.5em;
}

.delete_admin_users{
    background-image: url(../../images/user/pen.svg);
    background-position: 0.5em 0.6em;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: 0.5em;
    padding-left: 2em;
    border: solid 0.05em #000000;
    border-radius: 5%;
    margin-left: 0.5em;
}

#adminNoUsersTxt{
    padding: 1em 0;
}

.admin_users_no_orders_txt{
    padding: 0.5em 0;
    display:none;
}

.admin_users_no_fav_txt{
    padding: 0.5em 0;
    display:none;
}

.old_products_list{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
}

.old_products_list > p{
    overflow: hidden;
}

.old_right{
    text-align: center;
}
