/* --> My profile edit___________________________________________________*/

.main_data_profile_edit{
    border: solid 0.02em #b3b3b3;
    margin: 1em 0;
    position: relative;
    clear: both;
    overflow: hidden;
    display: none;
}

.profile_edit_form{
    margin: 1em 3em;
    border-bottom: solid 0.02em #b3b3b3;;
}

.profile_edit_name{
    display: grid;
    grid-template-columns: 60% 40%;
    font-size: 0.9vw;
    font-weight: bold;
}

#profile_edit_name_last{
    display: flex;
    flex-direction: column;
}

#profile_edit_name_last > input{
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0%;
}

#profile_edit_name_first{
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

#profile_edit_name_first > input{
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0%;
}

.profile_edit_other{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 0.9vw;
    font-weight: bold;
}

#profile_edit_other_type{
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

select{
    width: 100%;
    border: solid 0.02em #b3b3b3;
    padding: 15px 20px;
    color: #8c8c8c;
    margin: 1em 0 15px 0;
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: inline-block;
    background-image: url(../../images/user/select.svg);
    background-position: 1em 1.2em;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 3em;
}

#select_user_type:hover{
    border: 0.02em solid #8c8c8c;
}

#profile_edit_other_bithday{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#edit_other_day, #edit_other_month{
    margin-right: 1em;
}

input[type=number]{
    width: 100%;
    border: solid 0.02em #b3b3b3;
    padding: 15px 20px;    
    margin: 1em 0 15px 0;
    color: #8c8c8c;
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: inline-block;
    background-image: url(../../images/user/calendar.svg);
    background-position: 0.8em 1em;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 3em;
}

input[type="number"]:hover{
    border: 0.02em solid #8c8c8c;
}

.main_data_profile_edit_footer{
    position: relative;
}

.edit_profile_footer{
    float: right;
    display: flex;
    margin: 0 3em 1em 0;
}

.edit_footer_cancel{
    padding: 0.5em;
    border: solid 0.02em #b3b3b3;
    margin-right: 0.5em 1em;
}

.edit_footer_save{
    color:#fff;
    font-weight: bold;
    background-color: #0066ff;
    padding: 0.5em 1em;
    border: solid 0.02em #b3b3b3;
    margin-left: 0.5em;
}