html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: #f5f5f5;
    transition: 0.5s;
    cursor: pointer;
    
}

p{
    margin:0;    
}


/* MAIN-CONTAINER__________________________________________________________ */

.main_container{
    position: relative;    
    width: 100%;
    margin: auto;
    margin-top: 76px;
    overflow: hidden;
    z-index: 10;
    font-family: "Open Sans",sans-serif,serif;
}

/*cart________________________________________________________________*/

.cart{
    display: flex;
    flex-direction: column;
    /* margin: 2em 40em 0 40em; */
    width: 45%;
    margin: auto;
}

.cart_header{
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.cart_body{
    margin: 3em 0 ;
    display: block;
}

.cart_body_head{
    display: grid;
    grid-template-columns: 30% 70%;
    /* text-align: center; */
    font-size: 0.9vw;
    font-weight: bold;
    margin-bottom: 1em;
    color: #000000;
}

.cart_body_list{
    display: grid;
    grid-template-columns: 38% 21% 21% 21%;
}

.cart_body_list>p{
    padding-left: 3em;
}


.cart_product{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: dashed 2px #000000;
    /* height: 30%; */
}

.cart_product_side{
    text-align: center;
}

.cart_product_side >img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart_product_main{
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart_product_details{
    display: grid;
    grid-template-columns: 38% 21% 21% 21%;
    /* text-align: center; */
}

.cart_product_details > p{
    padding-left: 2em;
}

#product_name:hover{
    font-weight: bold;
}

.cart_product_footer{
    width: 100%;
    position: absolute;
    bottom: 2em;
    display: grid;
    grid-template-columns: 38% 24% 21% 21%;
    /* text-align: center; */
}
.cart_delete_btn{
   
    font-weight: bold;
    font-size: 0.8vw;    
    padding: 1em 0 0 0.5em;
    text-align: center;
    background-image: url(../../images/navbar/smallclose.png);
    background-repeat: no-repeat;
    background-position: 9.5em 1.2em;
    background-size: 0.8em;
}

.cart_delete_btn:hover{
    font-size: 0.85vw;
    background-size: 0.85em;
    background-position: 9.3em 1.2em;
}

.txt_center{
    text-align: center;
}

#noCartProdMsg{
    text-align: center;
    padding: 3em;
}

.orderBtn{
    padding: 0.7em 0;
    background-color: #588ddd;
    font-size: 0.9vw;
    color:white;
    text-align: center;
}

.orderBtn:hover{
    font-weight: bold;
    background-color:#397bdd;
}


/*FINISH ORDER________________________________________________________________*/
.cart_order{
   display: none;
}

#cart_order_txt{
    font-size: 1vw;
    font-weight: bold;
    text-align: center;  
}

.finish_order{
    width: 70%;
    margin: 1em auto 2em auto;
    border-top: solid 0.02em #b3b3b3;
}

.order_all_products{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border-bottom:  solid 0.02em #b3b3b3;
    padding: 1em 0;
}

.order_product{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1em;

}

.order_product_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

.order_product_details{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 1em;
}

.order_product_details_side > p{
    color: #cfcbcb;
    font-weight: bold;
    font-size: 0.8vw;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

.order_product_details_main > p{
    font-size: 0.8vw;
    padding-bottom: 1em;
}

.order_footer{
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: solid 0.02em #b3b3b3; 
    padding: 1em 0;
}

.order_address{
    padding: 2em 1em 1em 1em;    
    /* border-right: solid 0.02em #b3b3b3; //il vei da in js */
}

.order_address > p{
    font-size: 0.9vw;
    font-weight: bold;
}
#your_order_adress{
    display: none;
}
#order_no_addresses{
    margin-top: 0.5em;
    display: block;
}
.user_all_addresses{
    display: none;
}

.user_all_addresses{
    padding: 0.5em 0;
}

.user_address{
    display: grid;
    grid-template-columns: 5% 95%;
    padding: 0.5em 0;
}

.address_check{
    position: relative;
}

.address_check > input{
    border-radius: 50%;
    position: absolute;
    top:30%;
    left:30%;
    transform: translate(-50%,-50%);
}

.address_check_details > p{
    padding: 0.25em 0;
}

.add_address_btn{
    width: 25%;
    background-color: #588ddd;
    font-size: 0.9vw;
    color: #ffffff;
    text-align: center;
    padding:0.25em;
    margin: 1em 0;
}

.add_address_form_input > p{
    font-size: 0.8vw;
    padding-bottom: 0.5em;
}

.name-grid, .street-nr-grid, .country-city-grid, .postal-phone-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0.2em;
}

.name-input, .street-nr-input, .country-city-input, .postal-phone-input{
    display: none;
}

#add_address_first_name, #add_address_last_name, #add_address_street, #add_address_number, 
#add_address_country, #add_address_city, #add_address_code, #add_address_phone{
    width: 95%;
    background-image: none;
    padding: 1em;
}

.add_address_btn_final{
    display: none;
}
.order_other{
    padding: 0 1em;
    display: none;
}

.order_payment_methods{
    padding: 2em 1em;
    border-bottom: solid 0.02em #b3b3b3;
    display: flex;
}

.order_payment_methods > p{
    font-weight: bold;
    font-size: 0.9vw;
    padding-right: 2em;
}


.order_payment_methods > div{
    padding-right: 1em;
}

.order_prices{
    padding: 2em 1em;
    font-size: 0.9vw;
    display: grid;
    grid-template-columns: 35% 55%;
}

.order_prices_side{
    font-weight: bold;
}

.order_prices_main{
    font-weight: normal;
    padding-left: 0.5em;
}

.order_prices_side > div, .order_prices_main > div{
    padding-bottom: 1em;
} 

.submit_order{
    margin-left: 1em;
    width: 25%;
    text-align: center;
    background-color: #397bdd;
    color: #ffffff;
    padding: 0.25em;
    font-size: 0.9vw;
}
