a{
    text-decoration: none;
}

/* SIDEMENU_______________________________________________________________ */

.sidemenu_img{
    z-index: 9; 
    height: 0;
    width: 50%;
    right: 0;
    position: absolute;
    background:red;
    display: grid;
    grid-template-rows: 50% 50%;
}

.sidemenu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px whitesmoke solid;
}

.sidemenu_container{
    width: 100%;
    height:0;   
    position: absolute;
    background: whitesmoke;
    z-index: 9;
    align-content: center;    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_width{
    transition: width 0.5s ease-in-out;    
}

.side_height{
    transition: height 0.5s ease-in-out;
}

.options{
    display: none;
}

.sidemenu_opt {
    display: block;
    height: 10px;
    align-items: center;
    color: black;
    font-family: "Segoe UI";
    padding: 1em 0 ;
    font-size: 1.2vw;
}


/* NAVBAR_______________________________________________________________ */

.navbar{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 1.3em 0 ;
    background-color: #f5f5f5;
    transition: width 0.5s ease-in-out;
    z-index:13;
    position: absolute;
}

.sidemenu_btn{
    margin-left: 1em;
}

#close{
    display: none;
}

#open_mobile{
    display:none;
}

.logo{
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: "Segoe UI", Roboto;
}

.logo_txt{
    text-decoration: none;  
    font-size: large;  
    font-weight: bold;
    color:black;
}

.user_option{
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right:1em;
    color: black;
}

.user_option > div {
    padding: 0 0.4em;
}

.admin{
    display: none;
}

.logged_user{
    /* position: absolute; */
    display:none;
}

/*MEDIA QUERIES______________________________________________________*/


/* 
@media screen and (max-width: 930px){ */
/*--> Navbar */

/*-->Sidemenu*/
/*
.sidemenu_img{
    width: 30%;
}

.sidemenu_container{
    width: 70%;
}
} */