
/*RESET-PASSWORD__________________________________________________________*/
.reset-pass{
    position: fixed;
    opacity: 0;
    z-index: 9;
    width: 22%;
    height: 45%;
    top:47%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: whitesmoke;
    border: solid 1px #585858;
    border-radius: 5%;
    display: grid;
    grid-template-rows: 12% 73% 15%;
    font-family: Inter,sans-serif;
    transition: 0.5s;
}


/*HEADER-RESET-PASS_______________________________________________________*/

.header-reset-pass{
    position: relative;
    border-bottom: solid 0.02em #b3b3b3;
}

#close-reset-pass{
    position: absolute;
    top:52%;
    left:7%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.header-reset-pass > p{
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
    font-size: 1vw;
    margin: 0;
}


/*MAIN-RESER-PASS________________________________________________________*/

#reset-pass-form{
    padding-top: 1em;
    margin: auto;
    width: 90%;
}

.rp{
    margin:0.8em 0 0 0 ;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    font-size: 0.8vw;
    font-weight: bold;
    color:#262626;
}

input[type=email]{
    width: 100%;
    padding: 15px 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin: 15px 0;
    background-image: url('../images/login/envelope-light.svg');
    background-position: 0.8em 0.9em; 
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 3em;
    font-size: 0.7vw;
}

.reset-pass-input{
    position: relative;
}

.reset-pass-pass-field{
    position: relative;
    margin: 0;
}

.reset-view-pass{
    position: absolute;
    top:50%;
    left:87%;
    transform: translate(-50%,-50%);
    background-color: #f5f5f5;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 15%;
    padding: 8px 10px;
    text-align: center;    
    color: #000000;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Inter,sans-serif;;
}

#pass-r{
    width: 100%;
    padding: 15px 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin: 15px 0;
    background-image: url('../images/login/lock-light.svg');
    background-position: 0.8em 0.9em; 
    background-repeat: no-repeat;
    /* fill: rgb(124, 121, 121); */
    background-size: 1.3em;
    padding-left: 3em;
    cursor: pointer;
}

input[type=submit]{
    width: 100%;
    color:#fff;
    background-color:#0066ff;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #005ce6;
}

input[type="email"]:hover{
    border: 1px solid #8c8c8c;
}

input[type="password"]:hover{
    border: 1px solid #8c8c8c;
}

.reset-view-pass:hover{
    border: 1px solid #8c8c8c;
}

/*OTHER-RESET-PASS________________________________________________________*/

.reset-a{
    padding-left: 0.25em;
    color:#06f;
    cursor: pointer;
}

.other-reset-pass{
    position: relative;
    border-top: solid 0.02em #b3b3b3;
}

.other-reset-options{    
    color: black;
    display: flex; 
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

.other-reset-options > p{
    font-size: 0.8vw;
    padding-top: 1.5em;
}

/*MEDIA QUERIES______________________________________________________*/

@media screen and (min-width: 1800px) and (max-width: 1960px){
   .other-reset-options > p {
        font-size: 0.85vw;
    } 
    
    #email-r, #pass-r, .reset-view-pass{
        font-size: 0.65vw;
    }   
}

@media screen and (min-width: 1600px) and (max-width: 1800px){
    .reset-pass{
        width: 25%;
        height: 45%;
        top:50%;
        left:50%;
    }

   .other-reset-options > p, .rp{
        font-size: 0.9vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 0.7vw;
    }

    .header-reset-pass > p{
        font-size: 1.15vw;
        padding-top: 1em;
    }
}

@media screen and (min-width: 1450px) and (max-width: 1600px){
   .other-reset-options > p, .rp {
        font-size: 1vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 0.8vw;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1450px){
   .other-reset-options > p, .rp {
        font-size: 1.1vw;
    }

    #email-r, #pass-r, .reset-pass-view-pass{
        font-size: 0.9vw;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1600px){
    .reset-pass{
        top:50%;
        width: 30%;
        height: 42%;
    }

    .header-reset-pass > p{
        font-size: 1.2vw;
        padding-top: 1em;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px){
   .other-reset-options > p, .rp {
        font-size: 1.20vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1vw;
    }

    .header-reset-pass > p{
        font-size: 1.3vw;
        padding-top: 1.1em;
    }
}

@media screen and (min-width: 950px) and (max-width: 1100px){
   .other-reset-options > p, .rp {
        font-size: 1.35vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1.15vw;
    }

    .header-reset-pass > p{
        font-size: 1.4vw;
        padding-top: 1.1em;
    }
    
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    .reset-pass{
        top:50%;
        width: 35%;
        height: 40%;
    }
}

@media screen and (min-width: 800px) and (max-width: 950px){
   .other-reset-options > , .rp {
        font-size: 1.45vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1.25vw;
    }

    .header-reset-pass > p{
        font-size: 1.45vw;
        padding-top: 1.4em;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px){
   .other-reset-options > p, .rp {
        font-size: 1.65vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1.45vw;
    }

    .header-reset-pass > p{
        font-size: 1.65vw;
        padding-top: 1.45em;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .reset-pass{
        top:50%;
        width: 40%;
        height: 37%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px){
   .other-reset-options > p, .rp {
        font-size: 1.7vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1.5vw;
    }

    .header-reset-pass > p{
        font-size: 1.7vw;
        padding-top: 1.5em;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px){
   .other-reset-options > p, .rp {
        font-size: 1.8vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1.6vw;
    }

    .header-reset-pass > p{
        font-size: 1.8vw;
        padding-top: 1.6em;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px){
   .other-reset-options > p, .rp {
        font-size: 1.9vw;
    }

    #email-r, #pass-r, .reset-view-pass{
        font-size: 1.7vw;
    }

    .header-reset-pass > p{
        font-size: 1.85vw;
        padding-top: 1.65em;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px){
    .reset-pass{
        top:50%;
        width: 50%;
        height: 35%;
    }
}