body{
    margin: 0;
    padding: 0;
}

p{
    margin:0;
}

.header{
    border: solid 1px;
}

.container{
    padding: 4em;
    background-color: cornsilk;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-style: hidden;
    
}

.container > div {
    border-style: hidden;
    margin: 2px 2px;
}

.men_jeans_txt, .suits_txt, .jackets_txt, .tshirts_txt{
    
   /* top:10%;
    left:20%;*/
    letter-spacing: 0.6em;
    font-weight: bold;
    font-size: 1.5vw;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: black;
    font-style: normal;
    font-variant: small-caps;
    font-family: Georgia, serif;
    
}

.img1{ grid-area: 1 / 2 / 2 / 3; }

.txt1{ 
    /* display: flex;
    align-items: center;
    justify-content: center;*/
    grid-area:  1 / 1 / 2 / 2; 
    text-align: center;
    
}
.img1 :hover{opacity: 0.5}
.txt2{ 
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
 }

.img2{ grid-area: 1 / 4 / 2 / 5; }
.img2 :hover{opacity: 0.5}

.img3{ grid-area: 2 / 1 / 3 / 2; }
.img3 :hover{opacity: 0.5}

.txt3{ 
    grid-area:  2/ 2 / 3 / 3;
    text-align: center;
  }

.txt4{
    grid-area: 2 / 4 / 3 / 5;
    text-align: center;
}

.img4{ grid-area: 2 / 3 / 3 / 4; }
.img4 :hover{opacity: 0.5}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding:0;
    position: relative;
}
.footer{
    position: relative;
    padding:0;
    margin:0;
    background-color: #000000;
    color:#f3d4d4;
    height: 5%;
    display:grid;
    grid-template-columns: 50% 50%;
}

.footer > div{
    position: relative;
    padding: 0.5em 0 ;
    
}

.footer > div > a{
    font-style: normal;
    font-family: Georgia, serif;
    text-decoration: none;
    color:white;
    align-items: center;
}

.left{
    text-align:right;
}

.about{
    padding: 0 0.5em ;
    border-right: 0.02em solid white;
    align-content: right;
    align-content: right;
}

.contact{
    padding: 0 0.5em ;
}
